<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body class="page-layout">
    <nav id="navigation" class="navigation" role="navigation"></nav>
    <header class="container my-2">
        <h1 class="text-center">This is home page</h1>
    </header>
    <main class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ducimus repudiandae aliquam labore laudantium itaque et ipsa, laborum doloribus facere perferendis non culpa sunt eaque animi alias porro ad placeat perspiciatis impedit delectus? Fugiat facilis officiis magni, quidem quas repellat ducimus, atque vitae iste ea et reiciendis ratione. Obcaecati similique a quos molestias quia fugiat nobis consequatur aliquam debitis exercitationem corrupti, dignissimos aspernatur facere voluptas recusandae illo cumque sit modi? Porro nam voluptates debitis dolorem ratione repellat, assumenda vero sed a eum quos soluta nihil blanditiis saepe facere! Ut, officia est commodi iusto enim illo. Aliquid repellat ipsa qui autem?</p>
    </main>
    <footer id="footer"></footer>
</body>

</html>