@import "base/typography";

h1 {
    color: $purple;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

// Adding prefix to the css property
.example {
    user-select: none;
}

.bg {
    background-image: url("../images/ocean-at-dawn.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
}

.js-purgecss-test {
    background-color: $black;
    color: $white;
}

// This unused classes will remove in production mode with purgecss
.purple {
    background-color: $purple;
}

@import "unusedcss";
