$color-gray-dark: hsla(0, 0%, 87%, 0.867);
$purple: hsl(300, 100%, 25%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$unused-var1: hsl(10, 10%, 10%);
$unused-var2: hsl(20, 20%, 20%);
$unused-var3: hsl(30, 30%, 30%);

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    background-color: $color-gray-dark;
}
