:root{
    --white: hsl(0, 0%, 100%);
    --gray-light: hsl(240, 5%, 88%);
    --gray-dark: hsl(0, 0%, 20%);
    --dark-blue: hsl(240, 56%, 9%);
}

$color-gray-dark: hsla(0, 0%, 87%, 0.867);
$purple: hsl(300, 100%, 25%);
$black: hsl(0, 0%, 0%);